{% extends 'base.html.twig' %}

{% block title %}Modifier Locataire{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier les informations du locataire</h1>

        {{ include('lodger/_form.html.twig', {'button_label': 'Mettre à jour les informations'}) }}
    </div>
{% endblock %}
