{% extends 'base.html.twig' %}

{% block title %}Nouveau Locataire{% endblock %}

{% block body %}
	<div class="container">
		<h1>Création d'un nouveau locataire</h1>

		{{ include('lodger/_form.html.twig') }}

	</div>
{% endblock %}
