<form method="post" action="{{ path('housing_delete', {'id': housing.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce logement ?');" style="display:inline;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ housing.id) }}">
    <button class="btn btn-danger text-center">Supprimer</button>
</form>
