{% extends 'base.html.twig' %}

{% block title %}Edit Housing{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1>Modifier les informations du logement</h1>
    
                {{ include('housing/_form.html.twig', {'button_label': 'Mettre à jour les informations'}) }}
            </div>
        </div>
    </div>

{% endblock %}
