<form method="post" action="{{ path('building_delete', {'id': building.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet immeuble ?');" style="display:inline;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ building.id) }}">
    <button class="btn btn-danger text-center">Supprimer cet immeuble</button>
</form>
