{% extends 'base.html.twig' %}

{% block title %}Nouveau Immeuble{% endblock %}

{% block body %}
	<div class="container">
		<h1>Création d'un nouveau immeuble</h1>

		{{ include('building/_form.html.twig') }}
	</div>

{% endblock %}
